<section class="todoapp">
	<header class="header">
		<h1>To Do list</h1>
		<input class="new-todo" placeholder="Make a new list" autofocus="">
    </header>
            
	<section class="main">
        <ul class="todo-list">
            <% @lists.each do |list| %>
                <li>
                    <div class="view">                   
                        <label><%= link_to list.name, list_path(list) %></label>            
                    </div>  
                </li>
            <% end %>
        </ul>
    </section>
            
	<footer class="footer">
	</footer>
</section>