<section class="todoapp">
	<header class="header">
		<h1><%= @list.name %></h1>
		<input class="new-todo" placeholder="Add an item..." autofocus="">
    </header>
            
	<section class="main">
        <ul class="todo-list">
            <% @list.items.each do |item| %>
            <li>
                <div class="view">  
                    <label><%= item.description %></label>                 
                </div>  
            </li>            
            <% end %>
        </ul>
    </section>
            
	<footer class="footer">
	</footer>
</section>