<section class="todoapp">
	<header class="header">
        <h1>Signup!</h1>
        <%= form_tag(sessions_path) do %>
            <%= text_field_tag :email, '', :class => "new-todo", :placeholder => "Login with your email" %>
        <% end %>


    </header>

	<footer class="footer">
	</footer>
</section>