<li class="<%= "completed" if item.complete? %>">
<div class="view">
  <%= form_for([@list, item]) do |f| %>
    <%= f.check_box :status, :class => "toggle", :checked => (true if item.complete?) %>
  <% end %>

  <label><%= item.description %></label>
</div>
</li>