<li class="<%= li_class_for_item(item) %>">
<div class="view">
  <%= form_for([@list, item]) do |f| %>
    <%= f.check_box :status, :class => "toggle", :checked => item.complete? %>
  <% end %>
  <label><%= item.description %></label>
</div>
</li>
