<section class="todoapp">
			<header class="header">
				<h1>To Do list</h1>
				<input class="new-todo" placeholder="Make a new list" autofocus="">
			</header>
			<section class="main" style="display: block;">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list"><li data-id="1545857901217" class=""><div class="view"><input class="toggle" type="checkbox"><label>edit in place</label><button class="destroy"></button></div></li></ul>
			</section>
			<footer class="footer" style="display: block;">

			</footer>
		</section>