<section class="todoapp">
			<header class="header">
				<h1>To Do list</h1>
				<input class="new-todo" placeholder="Make a new list" autofocus="">
            </header>
            
			<section class="main">
                <ul class="todo-list">
                    <li>
                        <div class="view">                   
                            <label><a href="#">Shopping List</a></label>            
                        </div>  
                    </li>
                    <li>
                        <div class="view">                   
                            <label><a href="#">Gift List</a></label>            
                        </div>  
                    </li> 
                    <li>
                        <div class="view">                   
                            <label><a href="#">Reading List</a></label>            
                        </div>  
                    </li>
                </ul>
            </section>
            
			<footer class="footer">
			</footer>
		</section>